{% extends '../Shared/layout.html' %} {% block title %}{{pageTitle}}{% endblock %} {% block style %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" /> {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-files-o"></i> HISTORIA CLINICA
        </h3>
        <ol class="breadcrumb">
            <li>
                <i class="icon_house_alt"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon_documents_alt">

                </i>
                <a href="/historias-clinicas">Historias clinicas</a>
            </li>
            <li>
                <i class="icon_document_alt">

                </i>
                <a href="/historias-clinicas/historia-clinica/{{model.paciente.dni}}">Paciente {{model.paciente.nombre}} {{model.paciente.apellido}}</a>
            </li>
            </a>
            <li>
                <i class="fa fa-files-o"></i> Detalle internacion
            </li>
        </ol>
    </div>
</div>
<!-- Form validations -->
<div class="container row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                INFORMACIÓN DEL PACIENTE
            </header>
            <div class="panel-body">
                <div class="container row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input id="id" name="id" value="{{model.id}}" hidden>
                                <div class="form-group">
                                    <label>DNI</label>
                                    <br/>{{model.paciente.dni}}
                                </div>
                                <div class="form-group">
                                    <label>Nombre/Apellido</label>
                                    <br/>{{model.paciente.nombre}} {{model.paciente.Apellido}}
                                </div>
                                <div class="form-group">
                                    <label>Resumen médico</label>
                                    <br/>{{model.paciente.resumenmedico}}
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <br/>{{model.paciente.ciudad}}, {{model.paciente.provincia}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Obra social</label>
                                    <br/>{{model.paciente.obrasocial}}
                                </div>
                                <div class="form-group">
                                    <label>Plan obra social</label>
                                    <br/>{{model.paciente.planobrasocial}}
                                </div>
                                <div class="form-group">
                                    <label>Nro afiliado</label>
                                    <br/>{{model.paciente.nroafiliado}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                INFORMACIÓN DE LA INTERNACIÓN
            </header>
            <div class="panel-body">
                <div class="container row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Causa de la internación</label>
                                    <br/>{{model.causainternacion}}
                                </div>
                                <div class="form-group">
                                    <label>Tipo de internación</label>
                                    <br/>{{model.tipointernacion}}
                                </div>
                                <div class="form-group">
                                    <label>Fecha ingreso</label>
                                    <br/>{{model.fechaInternacion}}
                                </div>
                                <div class="form-group">
                                    <label>Fecha egreso</label>
                                    <br/>{{model.fechaAltaInternacion}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Descripción de la internacion</label>
                                    <br/>{{model.descripcionInternacion}}
                                </div>
                                <div class="form-group">
                                    <label>Diagnóstivo principal</label>
                                    <br/>{{model.diagnosticoPrincipal}}
                                </div>
                                <div class="form-group">
                                    <label>Diagnóstivo secundario</label>
                                    <br/>{{model.diagnosticoSecundario}}
                                </div>
                                <div class="form-group">
                                    <label>Prescripciones médicas</label>
                                    <br/>{{model.prescripcionesMedicas}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                INFORMACIÓN DE LA INTERNACIÓN
            </header>
            <div class="panel-body">
                <div class="container row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {%if userRol == 'ENFERMERO'%}
                        <a class="btn btn-success" href="/historias-clinicas/internacion/registro-enfermeria/{{model.id}}/{{model.dniPaciente}}">Nuevo registro de enfermería</a>
                        <br/><br/>
                        {%endif%}
                        <div id="jsGrid"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a class="btn btn-default" href='/historias-clinicas/historia-clinica/{{model.paciente.dni}}'>VOLVER</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="/grid-methods-historia-clinica.js"></script>
<script type="text/javascript" src="/internaciones-enfermeria-grid.js"></script>
{% endblock %}