{% extends '../Shared/layout.html' %} {% block title %}{{pageTitle}}{% endblock %} {% block style %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" /> {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-files-o"></i> HISTORIA CLINICA
        </h3>
        <ol class="breadcrumb">
            <li>
                <i class="icon_house_alt"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon_documents_alt">

                </i>
                <a href="/historias-clinicas">Historias clinicas</a>
            </li>
            </a>
            <li>
                <i class="fa fa-files-o"></i> Historia clinica
            </li>
        </ol>
    </div>
</div>
<!-- Form validations -->
<div class="container row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                INFORMACIÓN DEL PACIENTE
            </header>
            <div class="panel-body">
                <div class="container row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>DNI</label>
                                    <input hidden id="dniPaciente" name="dniPaciente" value="{{historiaClinica.paciente.dni}}">
                                    <br/>{{historiaClinica.paciente.dni}}
                                </div>
                                <div class="form-group">
                                    <label>Nombre/Apellido</label>
                                    <br/>{{historiaClinica.paciente.nombre}} {{historiaClinica.paciente.Apellido}}
                                </div>
                                <div class="form-group">
                                    <label>Resumen médico</label>
                                    <br/>{{historiaClinica.paciente.resumenmedico}}
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <br/>{{historiaClinica.paciente.ciudad}}, {{historiaClinica.paciente.provincia}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Obra social</label>
                                    <br/>{{historiaClinica.paciente.obrasocial}}
                                </div>
                                <div class="form-group">
                                    <label>Plan obra social</label>
                                    <br/>{{historiaClinica.paciente.planobrasocial}}
                                </div>
                                <div class="form-group">
                                    <label>Nro afiliado</label>
                                    <br/>{{historiaClinica.paciente.nroafiliado}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                DETALLE DE INTERNACIONES DEL PACIENTE
            </header>
            <div class="panel-body">
                <div class="container row">
                    <div class="col-md-12">
                        <div class="row">
                            {%if (historiaClinica.idInternacionActual == 0)%}
                            <div class="col-md-6">
                                <a href="/historias-clinicas/historia-clinica/internacion/{{historiaClinica.paciente.dni}}" 
                                    class="btn btn-primary btn-xs btn-block">NUEVA INTERNACIÓN</a>
                            </div>
                            {%else%}
                            <div class="col-md-6">
                                <a href="/historias-clinicas/historia-clinica/internacion/{{historiaClinica.paciente.dni}}"
                                    class="btn btn-success btn-xs btn-block">INTERNACIÓN ACTUAL</a>
                            </div>
                            {%endif%}
                        </div>
                        <br/>
                    </div>
                    <div class="col-md-12">
                        <div id="jsGrid"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="/grid-methods-historia-clinica.js"></script>
<script type="text/javascript" src="/historia-clinica-grid.js"></script> {% endblock %}